@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
    transition-timing-function: linear !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
}
